services:
  civicpatch-cicd:
    environment:
      #- BRAVE_SEARCH_TOKEN
      - GOOGLE_SEARCH_TOKEN
      - GOOGLE_SEARCH_ENGINE_ID
      #- SERP_API_SEARCH_TOKEN

      - GOOGLE_GEMINI_TOKEN
      - OPENAI_TOKEN
      #- TOGETHER_AI_TOKEN

      - API_CIVICPATCH_ORG_TOKEN
      - API_CIVICPATCH_ORG_URL

      - LOG_LEVEL=${LOG_LEVEL:-INFO}
    init: true # https://stackoverflow.com/questions/50634819/xvfb-run-hangs-in-container
    image: code.wizards.cafe/witch/civicpatch-github-actions:latest
    #build:
    #  context: .
    #  dockerfile: Dockerfile.github-actions
    #network_mode: host
    volumes:
      - ./data:/app/data
      - ./data_source:/app/data_source
