name: "[api] - Data Scrape"

on:
  workflow_dispatch:
    inputs:
      jurisdiction_ocdid:
        description: "ocdid for the municipality (e.g. ocd-division/country/state/city)"
        required: true
      name:
        description: 'E.g. "Greensboro city"'
        required: false
      url:
        description: "URL of the city council page"
        required: true
      request_id:
        description: "If invoking via API, request_id is required to track jobs"
        required: false

jobs:
  data-scrape:
    environment: env-${{ github.actor }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup mise
        uses: jdx/mise-action@v3.2.0
        with:
          version: "2025.9.6"
          cache: true
          log_level: debug
          github_token: ${{ secrets.GITHUB_TOKEN }}

      #uses: ScribeMD/docker-cache@0.5.0
      #with:
      #  key: docker-${{ steps.get-date.outputs.date }}

      - name: Pull docker image
        run: |
          docker compose pull
          docker images

      - name: Run data scrape
        env:
          CIVICPATCH_SERVER_SOURCE: ${{ vars.CIVICPATCH_SERVER_SOURCE }}
          BRAVE_SEARCH_TOKEN: ${{ secrets.BRAVE_SEARCH_TOKEN }}
          GOOGLE_SEARCH_TOKEN: ${{ secrets.GOOGLE_SEARCH_TOKEN }}
          GOOGLE_SEARCH_ENGINE_ID: ${{ secrets.GOOGLE_SEARCH_ENGINE_ID }}
          SERP_API_TOKEN: ${{ secrets.SERP_API_TOKEN }}

          GOOGLE_GEMINI_TOKEN: ${{ secrets.GOOGLE_GEMINI_TOKEN }}
          OPENAI_TOKEN: ${{ secrets.OPENAI_TOKEN }}
          TOGETHER_AI_TOKEN: ${{ secrets.TOGETHER_AI_TOKEN }}

          API_CIVICPATCH_ORG_TOKEN: ${{ secrets.API_CIVICPATCH_ORG_TOKEN }}
          API_CIVICPATCH_ORG_URL: https://api.civicpatch.org
        run: |
          docker compose run --rm civicpatch-cicd poetry run \
              python src/interfaces/cli/main.py \
                run_pipeline \
                --jurisdiction-ocdid "${{ github.event.inputs.jurisdiction_ocdid }}" \
                --name "${{ github.event.inputs.name }}" \
                --url "${{ github.event.inputs.url }}" \
                --request-id "{{ github.event.request_id }}"
